@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
/* ==========================================================================
 * * Author's custom styles
 * * ========================================================================== */
html {
  background: #9da3a4;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

h1 {
  color: #FFD447;
}

h1.main {
  color: #ffffff;
  font-size: 250%;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0px;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1.75em;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

.headshot {
  position: relative;
  text-align: center;
  width: 100%;
}
.headshot img {
  max-width: 100%;
}
.headshot h1 {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: auto;
}

.flex-container > * {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  margin-top: 0.5vw;
  padding: 0.5vw;
}

.flex-container > *:last-child {
  margin-right: 0.5vw;
}

.left-panel {
  background: #1f2041;
  flex: 33%;
}

.right-panel {
  background: #4b3f72;
  flex: 66%;
  padding-left: 30px;
  padding-right: 30px;
}

.content {
  border-left: 5px solid #1f2041;
  padding-left: 0.5vw;
  margin-left: 1em;
}

a {
  transition: color 0.1s ease;
}

:not(nav) > a {
  color: #8ac2d0;
  text-decoration: none;
}
:not(nav) > a:hover {
  color: #37798a;
}

ul.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 1vw;
  font-size: 200%;
}
ul.nav a {
  text-decoration: none;
  color: #FFD447;
}
ul.nav a:hover {
  color: #ad8500;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0.5vw;
  align-self: flex-start;
}

.content i {
  margin-right: 0.5em;
}

td {
  vertical-align: top;
}

/* ==========================================================================
 * * Animated text
 * * ========================================================================== */
/* ==========================================================================
 * * Base styles: opinionated defaults
 * * ========================================================================== */
/* * Remove text-shadow in selection highlight:
 * * https://twitter.com/miketaylr/status/12228805301
 * *
 * * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * * https://stackoverflow.com/a/16982510/7133471
 * *
 * * Customize the background color to match your design. */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* * A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #1f2041;
  margin: 2em 0 2em 0;
  padding: 0;
}

/* * Remove the gap between audio, canvas, iframes,
 * * images, videos and the bottom of their containers:
 * * https://github.com/h5bp/html5-boilerplate/issues/440 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/* * Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* * Allow only vertical resizing of textareas. */
textarea {
  resize: vertical;
}

/* ==========================================================================
 * * Helper classes
 * * ========================================================================== */
/* * Hide visually and from screen readers */
.hidden, [hidden] {
  display: none !important;
}

/* * Hide only visually, but have it available for screen readers:
 * * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * *
 * * 1. For long content, line feeds are not interpreted as spaces and small width
 * *    causes content to wrap 1 word per line:
 * *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* * Extends the .sr-only class to allow the element
 * * to be focusable when navigated to via the keyboard:
 * * https://www.drupal.org/node/897638 */
/* * Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}

/* * Clearfix: contain floats
 * *
 * * For modern browsers
 * * 1. The space content is one way to avoid an Opera bug when the
 * *    `contenteditable` attribute is included anywhere else in the document.
 * *    Otherwise it causes space to appear at the top and bottom of elements
 * *    that receive the `clearfix` class.
 * * 2. The use of `table` rather than `block` is only necessary if using
 * *    `:before` to contain the top-margins of child elements. */
.clearfix::before {
  content: " ";
  display: table;
}
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ==========================================================================
 * * EXAMPLE Media Queries for Responsive Design.
 * * These examples override the primary ('mobile first') styles.
 * * Modify as content requires.
 * * ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
 * * Print styles.
 * * Inlined to avoid the additional HTTP request:
 * * https://www.phpied.com/delay-loading-your-print-css/
 * * ========================================================================== */
@media print {
  * {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  *::before, *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /* * Don't show links that are fragment identifiers,
  * * or use the `javascript:` pseudo protocol */
  a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* * Printing Tables:
  * * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables */
  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=styles.css.map */
